@import url('variables.css');
@import url('base.css');
@import url('animations.css');
@import url('navbar.css');
@import url('buttons.css');
@import url('hero.css');
@import url('features.css');
@import url('education.css');
@import url('testimonials.css');
@import url('cta.css');
@import url('articles.css');
@import url('footer.css');
@import url('responsive.css');
