@import url('landing/variables.css');
@import url('landing/base.css');
@import url('landing/animations.css');
@import url('landing/navbar.css');
@import url('landing/buttons.css');
@import url('landing/hero.css');
@import url('landing/features.css');
@import url('landing/education.css');
@import url('landing/testimonials.css');
@import url('landing/cta.css');
@import url('landing/articles.css');
@import url('landing/footer.css');
@import url('landing/responsive.css');